<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Meter disconnection portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Organization Hierarchy
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Contact details
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Schedule meeting
            </button>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>
  <div class="card col-sm-10 mx-auto mt-5">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome to Sampark home</h5>
      <p class="card-text">Welcome to UPPCL Sampark app. This site is under construction.</p>
      <a class="btn btn-primary" href="https://www.upenergy.in/">Go to UPPCL Home</a>
    </div>
    <div class="card-footer text-muted">
      Have a nice day!
    </div>
  </div>