<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Meter disconnection portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Login
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#signupModal" >
              Signup
            </button>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>
  <!-- Button trigger modal -->
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" >Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
        <div class="modal-body">
          
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">
                UserName
              </label>
              <div class="col-sm-10">
                <input type="email" class="form-control" ngModel name="email" id="email">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ngModel name="password" id="password">
              </div>
            </div>
  
  
        </div>
        <div class="modal-footer">
          Don't have an account? <a href="">Signup</a>
          <button type="button" class="btn btn-primary" type="submit" data-bs-dismiss="modal">Login</button>
        </div>
      </form>
      </div>
    
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" >Signup</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #loginForm1="ngForm" (ngSubmit)="handleSignup(loginForm1.value)">
        <div class="modal-body">
          
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">
                User Email
              </label>
              <div class="col-sm-10">
                <input type="email" class="form-control" ngModel name="emailS" id="emailS">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" ngModel name="passwordS" id="passwordS">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">
                Username
              </label>
              <div class="col-sm-10">
                <input type="email" class="form-control" ngModel name="usernameS" id="usernameS">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">
                Phone
              </label>
              <div class="col-sm-10">
                <input type="number" class="form-control" ngModel name="phoneS" id="phoneS">
              </div>
            </div>
  
  
        </div>
        <div class="modal-footer">
          Have an account? <a href="">Login</a>
          <button type="button" class="btn btn-primary" type="submit" data-bs-dismiss="modal">Signup</button>
        </div>
      </form>
      </div>
    
    </div>
  </div>